[Desktop Entry]
Encoding=UTF-8
Name=Link to apooqr
Type=Link
URL=https://user-images.githubusercontent.com/9134236/37278600-4d7d00bc-260e-11e8-9e48-5c91dcdf7484.png
Icon=image-png
